.blogList {
    width: 70%;
    margin: 0 auto;
}

.blogListHeader {
    width: 95%;
    margin: 0 auto;
}

.BlogPreview {
    width: 65%;
    margin: 0 auto;
    padding: 60px 0px;
    border-bottom: 1px solid #ccc;
}

.BlogPreview h3 {
    color: #724CF9;
    font-weight: lighter;
}


.previewContent {
    padding-top: 15px;
    line-height: 2;
    display: flex;
    align-items: center;
    width: 100%;
}

.previewContent p {
    text-align: justify;
}

.readMoreLink {
    text-decoration: none;
    color: #724CF9;
    border-bottom: 1px solid transparent;
}

.readMoreLink:hover {
    border-bottom: 1px solid #724CF9;
}