.BlogPreview {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.BlogPreview h2 {
    text-align: left;
    color: #724CF9;
}

.BlogPreview h2:hover {
    color: black;
}

.BlogPreview a {
    text-decoration: none;
}

/* .placeholderImage {
    height: 150px;
    display: inline; 
} */

.previewContent {
    display: flex;
    align-items: center;
    /* padding-bottom: 30px; */
}
