#contactContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    margin-bottom: 30px;
}

.contactText {
    padding-bottom: 50px;
    width: 80%;
    margin: 0px auto;
}

.contactText a {
    color: #724CF9;
    text-decoration: none;
}

.contactText a:hover {
    color: #ccc;
}
/* 
#twitter {
    width: 40%;
    margin: 0px auto;
    margin-top: 20px;
 */

/* } */

@media screen and (max-width: 880px) {
    #contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
/* 
    .contactText,
    #twitter {
        width: 75%;
        margin: 0 auto;
    } */

}
