.contactSection {
    padding-bottom: 50px;
    margin: 20px auto;
    width: 80%;
}

.contactSection a {
    color: #2A8C85;
    text-decoration: none;
}

.contactSection a:hover {
    color: #ccc;
}
