footer {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 20px;
    bottom: 20;
    margin: 0 auto;
    width: 99vw;
    text-align: center;
    font-size: 0.75rem;
}