html {
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif';
    background: #ffffff;
}

.homePage main { 
    width: 75%;
    margin: 0 auto;
}

.BlogPostPage {
    width: 80%;
    margin: 0 auto;
}

.BlogPostPage img {
    max-height: 350px;
    margin: 0 auto;
}

.BlogPostPage .BlogPostHeader{ 
   background-size: cover !important;
   width: 100%;
   height: 70vh;
   display:flex;
   align-items: center;
   justify-content: center;
}

.BlogPostPage .content {
    padding: 20px;
    padding-top: 0;
    width: 75%;
    margin: 0 auto;
}

.BlogPostPage main h1 {
    color: white;
    font-size: 1.8rem;
    padding: 0px 15px;
    text-align: center;
}

.BlogPostPage main h2 {
    text-align: left;
}

.BlogPostPage main h2,
.BlogPostPage main h3 {
    padding-top: 30px;
}

.BlogPostPage main p {
    padding: 10px 0;
}

.BlogPostPage .tag span {
    background: #333;
    color: white;
    padding: 5px 7px;
}

.BlogPostPage code {
    display:inline-block;
    width: 90%;
    overflow: scroll;
    background: #333;
    color: white;
    padding: 15px 10px;
}

.BlogPostPage main p code,
.BlogPostPage main li code {
    padding: 0 2px;
    width: auto;
    display: inline;
    background: #eee;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.BlogPostPage small {
    margin-right: 20px;
    display: block;
}