html {
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif';
    background: #efefef;
}

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homePage main {
    width: 75%;
    margin: 0 auto;
}

.BlogPostPage {
    width: 95%;
    margin: 0 auto;
}

.BlogPostPage img {
    max-height: 350px;
    margin: 0 auto;
}

.BlogPostPage .BlogPostHeader{ 
   width: 100%;
   height: 70vh;
   display:flex;
   align-items: center;
   justify-content: center;
}

.BlogPostPage .content {
    padding: 20px;
    padding-top: 0;
    width: 70%;
    margin: 0 auto;
}

.BlogPostPage main h2 {
    color: #724CF9;
    font-size: 1.8rem;
    font-weight: lighter;
}


.BlogPostPage main h2,
.BlogPostPage main h3 {
    padding-top: 30px;
}

.BlogPostPage main p {
    padding: 10px 0;
    line-height: 2;
}

.BlogPostPage .tag span {
    background: #333;
    color: white;
    padding: 5px 7px;
}

.BlogPostPage code {
    display:inline-block;
    width: 90%;
    overflow: scroll;
    background: #333;
    color: white;
    padding: 15px 10px;
}

.BlogPostPage main p code,
.BlogPostPage main li code {
    padding: 0 2px;
    width: auto;
    display: inline;
    background: #eee;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.BlogPostPage small {
    margin-top: 30px;
    font-weight: bold;
    margin-right: 20px;
    display: block;
}

.BlogPostPage li {
    line-height: 2;
}

.tagList {
    margin-bottom: 30px;
    padding: 0;

}

.tagList li {
    font-size: 12px;
    background: #724CF9;
    display: inline;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 2px;
}

.tagList li a {
    color: white;
    text-decoration: none;
}

.blogArticleContent {
    margin-top: 20px;
    border-top: 1px #ccc solid;
}

.blogArticleContent a {
    color: #724CF9;
    text-decoration: none;
}

.blogList {
    padding-bottom: 50px;
}

@media screen and (max-width: 680px) {
    .BlogPostPage .content {
        padding: 0px;
        padding-top: 0;
        width: 90%;
        margin: 0 auto;
    }
}